body {
  font-size: 16pt; 
  font-family: "Helvetica Neue", Helvetica, Geneva, Arial,
                    SunSans-Regular, sans-serif;
}

.container {
  width: 1000px;
  margin: 20px auto 20px auto;
  border: 2px solid #ffffff;
  text-align: left;
}
